<button onclick="location.hash='dashboard'">Dashboard</button>
<button onclick="location.hash='currency'">Currency</button>
<button onclick="location.hash='package'">Package</button>
<button onclick="location.hash='dashboard'">Dashboard</button>
<button onclick="location.hash='currency'">Currency</button>
<button onclick="location.hash='package'">Package</button>
<button onclick="location.hash='dashboard'">Dashboard</button>
<button onclick="location.hash='currency'">Currency</button>
<button onclick="location.hash='package'">Package</button>
